# Ujian Machine Learning Soal 1 - Hunting Pemain Bola

### 1. Import Packages

In [1]:
import numpy as np
import pandas as pd

### 2. Read csv to Data Frame

In [3]:
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

### 3. Checking Data Frame

In [5]:
df.isnull().sum()

Unnamed: 0           0
ID                   0
Name                 0
Age                  0
Photo                0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 89, dtype: int64

In [19]:
df['Age'].isnull().sum()

0

In [20]:
df['Overall'].isnull().sum()

0

In [21]:
df['Potential'].isnull().sum()

0

### 4. Filtering data

In [22]:
df['Target'] = df.apply(
    lambda x : 1 if (x['Age'] <= 25) and (x['Overall'] >= 80) and (x['Potential'] >=80) else 0, axis=1
)

In [28]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Target
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,0
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,0
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,0
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,0
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,0

### 5. Splitting Data for Train and Test

In [29]:
from sklearn.model_selection import train_test_split
xtr, xts, ytr, yts = train_test_split(
    df[['Age', 'Overall', 'Potential']],
    df['Target'],
    test_size = .05
)

### 6. Checking Model Score with CVS

In [30]:
from sklearn.model_selection import cross_val_score

In [32]:
from sklearn.linear_model import LogisticRegression

np.mean(cross_val_score(
    LogisticRegression(solver='lbfgs',max_iter=100000), xtr, ytr, cv = 5))

0.9928307155497847

In [33]:
from sklearn.tree import DecisionTreeClassifier

np.mean(cross_val_score(
    DecisionTreeClassifier(), xtr, ytr, cv=5
))

1.0

In [39]:
from sklearn.ensemble import RandomForestClassifier

np.mean(cross_val_score(
    RandomForestClassifier(n_estimators=3), xtr, ytr, cv=5
))

0.9999421798207575

### 7. Machine Learning Model with DecisionTreeClassifier

In [42]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(xtr,ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

### 8. Testing Model with yts

In [103]:
model.predict(xts)[130:150]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [104]:
yts.iloc[130:150]

1499     0
17181    0
7196     0
5447     0
5290     0
9530     0
12854    0
3039     0
6676     0
12725    0
6019     0
12480    0
16116    0
2738     0
17598    0
5790     0
412      1
958      0
12138    0
7166     0
Name: Target, dtype: int64

### 9. Data Frame for Prediction

In [54]:
data = {
    'Name' : ['Andik Vermansyah', 'Awan Setho Raharjo', 'Bambang Pamungkas', 'Cristian Gonzales', 'Egy Maulana Vikri', 'Evan Dimas', 'Febri Hariyadi', 'Hansamu Yama Pranata', 'Septian David Maulana', 'Stefano Lilipaly'],
    'Club' : ['Madura United FC', 'Bhayangkara FC', 'Persija Jakarta', 'PSS Sleman', 'Lechia Gdańsk', 'Barito Putera', 'Persib Bandung', 'Persebaya Surabaya', 'PSIS Semarang', 'Bali United'],
    'Nationality' : ['Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia'],
    'Age' : [27, 22, 38, 43, 18, 24, 23, 24, 22, 29],
    'Overall': [87, 75, 85, 90, 88, 85, 77, 82, 83, 88],
    'Potential': [90, 83, 75, 85, 90, 87, 80, 85, 80, 86]
}
dfHasil = pd.DataFrame(data)
dfHasil

,Name,Club,Nationality,Age,Overall,Potential
0,Andik Vermansyah,Madura United FC,Indonesia,27,87,90
1,Awan Setho Raharjo,Bhayangkara FC,Indonesia,22,75,83
2,Bambang Pamungkas,Persija Jakarta,Indonesia,38,85,75
3,Cristian Gonzales,PSS Sleman,Indonesia,43,90,85
4,Egy Maulana Vikri,Lechia Gdańsk,Indonesia,18,88,90
5,Evan Dimas,Barito Putera,Indonesia,24,85,87
6,Febri Hariyadi,Persib Bandung,Indonesia,23,77,80
7,Hansamu Yama Pranata,Persebaya Surabaya,Indonesia,24,82,85
8,Septian David Maulana,PSIS Semarang,Indonesia,22,83,80
9,Stefano Lilipaly,Bali United,Indonesia,29,88,86

### 10. Prediction (1 = Target, 0 = Non-Target)

In [56]:
dfHasil['Predict'] = model.predict(dfHasil[['Age', 'Overall', 'Potential']])

In [57]:
dfHasil

,Name,Club,Nationality,Age,Overall,Potential,Predict
0,Andik Vermansyah,Madura United FC,Indonesia,27,87,90,0
1,Awan Setho Raharjo,Bhayangkara FC,Indonesia,22,75,83,0
2,Bambang Pamungkas,Persija Jakarta,Indonesia,38,85,75,0
3,Cristian Gonzales,PSS Sleman,Indonesia,43,90,85,0
4,Egy Maulana Vikri,Lechia Gdańsk,Indonesia,18,88,90,1
5,Evan Dimas,Barito Putera,Indonesia,24,85,87,1
6,Febri Hariyadi,Persib Bandung,Indonesia,23,77,80,0
7,Hansamu Yama Pranata,Persebaya Surabaya,Indonesia,24,82,85,1
8,Septian David Maulana,PSIS Semarang,Indonesia,22,83,80,1
9,Stefano Lilipaly,Bali United,Indonesia,29,88,86,0